DMA BFA Admission Requirements:
-B or better in all art classes 
-Must have taken Art 74 & Art 75 (you will build your portfolio in these classes)
-18 - 21 Total Units of the Preparation for the Major Courses Completed (upper box of major form)
-Total includes Art 74 & 75 and 4-5 additional courses
-This is usually somewhere between your Sophomore and Junior years.
 x3
-You will need to apply to the DMA BFA major with a portfolio; for DMA the portfolio consists of the website that you 
 create in the Intro to Digital Media class (ART 74). 
-Must included 10 pieces (the assignments in ART 74 & ART 75)
-You can include work from other classes, but make sure every CLO from Art 74 & 75 is represented.
-A good target is no less than 7 DMA works
-It is recommended that all DMA students build their website from scratch.  That being said, there are two options:
-If you indicate that you are interested in pursuing creative coding in your artist statement (web development or 
 interaction using digital or physical mediums); your portfolio website should be built from scratch using HTML, CSS, 
 and JavaScript (JS optional).  
-If you indicate that you are interested in pursuing 3D modeling, Video, or Digital Fabrication in your artist 
 statement, your website doesn’t necessarily need to be hand coded.  You will need to include a creative code project 
 in your portfolio but your artist statement and portfolio need to reflect your interest in the areas listed above.


APPLICATION TO GRADUATE
You apply to graduate online via MySJSU online portal. You can apply up to 3 semesters before you graduate, but 
typically one year/  two semesters before your planned graduation. 


https://docs.google.com/document/d/1RCQHnXf4AmV6lM7cn3rEo91hCOufqYvZWTGPuTBQ_Hc/edit?tab=t.0#heading=h.dstk6p901a10